<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button fill="clear" color="dark" href="/projetos"><ion-icon name="arrow-round-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Biblioteca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-img src="/assets/hackathon.png"></ion-img>
    <ion-card-title>Hackathon</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Evento de programação, solução de problemas e hacking.
    Coordenado pela turma do 1º ETIM DS e Professor Dr. Ronan
  </ion-card-content>
</ion-card>

<ion-card>
    <ion-card-header>
      <ion-img src="/assets/expo.jpg"></ion-img>
      <ion-card-title>Exposição de quadros</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Exposição de quadros coordenado pela turma do 1º ETIM ADM e professora Iriani
    </ion-card-content>
  </ion-card>

</ion-content>
