<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button fill="clear" color="dark" href="/projetos"><ion-icon name="arrow-round-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Sala 10</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          <ion-img src="/assets/sala10a.jpg"></ion-img>
          <ion-card-title>Arduino</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Projeto feito pela turma do ETIM INFO e Desenvolvimento de Sistemas Noturno.
        </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-header>
            <ion-img src="/assets/sala10c.jpg"></ion-img>
            <ion-card-title>App de reconhecimento facial</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Projeto feito pela turma do 3º ETIM INFO.
          </ion-card-content>
        </ion-card>
      <ion-card>
          <ion-card-header>
            <ion-img src="/assets/sala10b.jpg"></ion-img>
            <ion-card-title>Drone</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Projeto feito pelas turmas do 3º, 2º ETIM INFO e turmas do 1º e 3º D.S. Noturno.
          </ion-card-content>
        </ion-card>
</ion-content>
