<ion-header>
  <ion-toolbar>
    <ion-title><ion-button fill="clear" color="dark" href="/home"><ion-icon name="arrow-round-back"></ion-icon></ion-button>Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1> E-MAILS PARA ASSUNTOS OFICIAIS </h1>
<p><strong> DIREÇÃO: </strong> e161dir@cps.sp.gov.br </p>
<p><strong> SECRETARIA (SERVIÇOS ACADÊMICOS): </strong> e161acad@cps.sp.gov.br </p>
<p><strong> RECURSOS HUMANOS E MATERIAIS (SERVIÇOS ADMINISTRATIVOS): </strong> e161adm@cps.sp.gov.br </p>
<br>
<h1> E-MAIL PARA DÚVIDAS DIVERSAS </h1>
<p><strong>E-mail: </strong> </p>
<p> contato@etecibitinga.com.br </p>
<p><strong> Telefones: </strong></p>
<p> (16) 3341-7046 </p>    
<p> (16) 3342-6039 </p>

</ion-content>
