<ion-header>
      <ion-toolbar>
            <ion-buttons slot="start">
                  <ion-button fill="clear" color="dark" href="/home"><ion-icon name="arrow-round-back"></ion-icon></ion-button>
            </ion-buttons>
      </ion-toolbar>
</ion-header>
<ion-content class="content">
      <h1 class="texto"> <strong> ETEC DE IBITINGA </strong> <span class="subtitle">Version: {{VersionNumber}} </span></h1>
            <br>
            <br>
            <br>
            <br>
            <br>
      <h4 (click)="presentAlert()" class="creditos">CRÉDITOS</h4>
</ion-content>
