<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button fill="clear" color="dark" href="/projetos"><ion-icon name="arrow-round-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Pátio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-img src="/assets/inclusao.jpg"></ion-img>
  <ion-card-header>
    <ion-card-title>Inclusão social no trabalho e motivação</ion-card-title>
  </ion-card-header>
<ion-card-content>
Projeto coordenado pela turma de Recursos Humanos e professora Ana Paula.
</ion-card-content>
</ion-card>

<ion-card>
  <ion-img src="/assets/inova.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Escola de inovadores</ion-card-title>
    </ion-card-header>
  <ion-card-content>
  Projeto coordenado pelo programa Escola de Inovadores e professores Gustavo e Thiago.
  </ion-card-content>
  </ion-card>
  
</ion-content>
