<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button fill="clear" color="dark" href="/projetos"><ion-icon name="arrow-round-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Sala 9</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          <ion-img src="/assets/sala9.jpg"></ion-img>
          <ion-card-title>Google</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Projeto feito pela turma do 3º ETIM ADM.
        </ion-card-content>
      </ion-card>
</ion-content>
