<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Projetos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list>

  <ion-item href="/sala1">
    Sala 1
  </ion-item>

  <ion-item href="/sala2">
    Sala 2
  </ion-item>
   
  <ion-item href="/sala3">
    Sala 3
  </ion-item>

  <ion-item href="/sala4">
    Sala 4
  </ion-item>

  <ion-item href="/sala5">
    Sala 5
  </ion-item>

  <ion-item href="/sala6">
    Sala 6
  </ion-item>

  <ion-item href="/sala7">
    Sala 7
  </ion-item>

  <ion-item href="/sala8">
    Sala 8
  </ion-item>

  <ion-item href="/sala9">
    Sala 9
  </ion-item>

  <ion-item href="/sala10">
    Sala 10
  </ion-item>

  <ion-item href="/biblioteca">
    Biblioteca
  </ion-item>

  <ion-item href="/patio">
    Pátio
  </ion-item>

  <ion-item href="/jogos">
    Área de jogos
  </ion-item>
</ion-list>

</ion-content>
