<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button fill="clear" color="dark" href="/projetos"><ion-icon name="arrow-round-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Jogos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          <ion-img src="/assets/jogos.jpg"></ion-img>
          <ion-card-title>Jogos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Área de jogos para diversão.
          Coordenado pela turma do 1º DS Noturno e Professor Dr. Ronan
        </ion-card-content>
      </ion-card>
</ion-content>
